@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(59, 66, 148, 0.1);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.titulo-general {
    position: absolute;
    top: 10px;
    left: calc(100vw - (width / 2));
    color: #3B4294;
}

.contenedor-proximos-activo {
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-proximos-turnos {
    color: #3B4294;
    width: 35%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.contenedor-turno-activo {
    color: #3B4294;
    width: 45%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.contenedor-doble {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-chat {
    background-color: #3B4294;
    color: #fff;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.btn-chat:hover {
    transform: scale(1.1);
}

.contenedor-turnos {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.contenedor-turno-detallado {
    background-color: rgba(59, 66, 148, 0.1);
    height: 80%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedor-botones {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-cerrar {
    background-color: rgba(0, 0, 0, 0);
    color: #3B4294;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.btn-llamar {
    background-color: rgba(0, 0, 0, 0);
    color: #3B4294;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-llamar.rojo {
    color: #E61A2E;
}

.proximo-turno {
    background-color: rgba(59, 66, 148, 0.2);
    width: 25%;
    height: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 4%;
}

.proximo-turno.teleconsulta {
    background-color: #cff2ee;
}

.proximo-turno.ambulatorio {
    background-color: #fbd0fd;
}

.proximo-turno.consulta-externa {
    background-color: #bd7bdf;
}

.proximo-turno.consulta-interna {
    background-color: #fff;
}

.contenedor-num-consultorio {
    width: 100%;
    text-align: center;
    color: #E61A2E;
}

.contenedor-num-turno {
    width: 100%;
    text-align: center;
    color: #3B4294;
}

.horario {
    font-family: inherit;
    font-size: 16px;
    margin: 0;
}

.numero-turno {
    font-family: inherit;
    margin: 0;
}

.contenedor-popup-finalizar {
    background-color: #fff;
    color: #3B4294;
    width: 300px;
    height: 200px;
    border-color: #3B4294;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-botones-finalizar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-nollego {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E61A2E;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-realizado {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgreen;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer; 
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: #fff;
    color: #3B4294;
    cursor: pointer;
}

.explicacion {
    color: #afafaf;
}

.ups-popup {
    background-color: #fff;
    color: #3B4294;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-equis {
    background-color: #E61A2E;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.barra-abajo {
    background-color: #afafaf;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: 20px;
}

.barra-tempo {
    background-color: #3B4294;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: 20px;
    animation: grow 60s linear;
    transform-origin: left;
    transform: scaleX(0);
}

.nombre-profesional {
    color: #3B4294;
    position: absolute;
    left: 50px;
    bottom: 10px;
}

.popup-enviar-mensaje {
    background-color: #fff;
    color: #3B4294;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.mensaje {
    width: 80%;
    height: 40%;
}

.enviar-mensaje {
    background-color: #3B4294;
    font-size: 0.9rem;
    font-family: inherit;
    margin: 20px 0px;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.cancelar-mensaje {
    background-color: #E61A2E;
    font-size: 0.9rem;
    font-family: inherit;
    margin: 20px 0px;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.toast-container {
    position: absolute;
    bottom: 80px;
    right: 40px;
    max-width: 400px;
    max-height: 90vh;
    min-width: 300px;
    overflow-y: scroll;
}

.toast {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.remitente {
    margin-bottom: 5px;
    color: #3B4294;
}

.botones-mensaje {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.replicar {
    background-color: #3B4294;
    font-size: 0.9rem;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.cerrar-mensaje {
    background-color: #E61A2E;
    font-size: 0.9rem;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

@keyframes grow {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}