@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --color-primario: rgba(59, 66, 148, 1);
    --color-primario-claro: rgba(59, 66, 148, 0.1);
    --color-primario-medio: rgba(59, 66, 148, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario-claro);
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

h1 {
    margin: 10px 0 20px;
    text-align: center;
    color: #3B4294;
}

.contenedor-total {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.turnos-activos {
    background-color: var(--color-primario-medio);
    width: 98vw;
    height: 10vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.contenedor-abajo {
    width: 98vw;
    height: 75vh;
    position: relative;
}

.contenedor-mensajes {
    width: 100vw;
    height: 10vh;
}

.proximos {
    width: 30%;
    height: 97%;
    position: absolute;
    top: 1vh;
    left: 1vw;
}

.video {
    background-color: tan;
    width: 67%;
    height: 97%;
    position: absolute;
    top: 1vh;
    right: 1vw;
}

.video img {
    width: 100%;
    height: 100%;
}

.fill {
    background-image: url('./images/tecono.jpeg');
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.turno {
    background-color: rgba(59, 66, 148, 0.2);
    width: 7%;
    height: 90%;
    margin-left: 0.35%;
    margin-right: 0.35%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titulos-turnos-activos {
    width: 7%;
    height: 90%;
    margin-left: 0.35%;
    margin-right: 0.35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #3B4294;
}

.numero-consultorio {
    font-family: inherit;
    margin: 0;
}

.numero-turno {
    font-family: inherit;
    margin: 0;
}

.contenedor-num-consultorio {
    width: 100%;
    text-align: center;
    color: #3B4294;
}

.contenedor-num-turno {
    width: 100%;
    text-align: center;
    color: #E61A2E;
}

.contenedor-titulo {
    width: 100%;
    text-align: center;
}

.contenedor-proximos-turnos {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.proximo-turno {
    background-color: rgba(59, 66, 148, 0.2);
    width: 25%;
    height: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 4%;
}

.contenedor-texto {
    background-color: #fff;
}


.mensaje {
    color: #3B4294;
    transform: translateX(70%);
    animation: animarTexto 50s linear 2s;
}

@keyframes animarTexto {
    0% {transform: translateX(70%);}
    100% {transform: translateX(calc(0% - 50px));}
}

.boton-speech {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    overflow: auto;
    position: absolute;
    top: 25px;
    right: 25px;
}