@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(59, 66, 148, 0.1);
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

h1 {
    margin: 10px 0 20px;
    text-align: center;
    color: #3B4294;
}

h2 {
    color: #3B4294;
}

h4 {
    color: #3B4294;
}

.contenedor-total {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-popup-nuevo {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    position: absolute;
    top: calc(50vh - 175px);
    left: calc(50vw - 175px);
}

.container-popup-asignar {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    position: absolute;
    top: calc(50vh - 175px);
    left: calc(50vw - 175px);
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: rgba(59, 66, 148, 0.8);
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.btn-large {
    display: block;
    width: 40%;
}

.setting-nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    color: #3B4294;
}

.setting-nombre .input-nombre {
    width: 70%;
}

.contenedor-turno-consultorio {
    color: #3B4294;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botones-asignar-crear {
    position: absolute;
    top: 10px;
    right: 10px;
}

.contenedor-turnos {
    width: 98vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
}

.proximos {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.contenedor-titulo {
    width: 100%;
    text-align: center;
}

.contenedor-proximos-turnos {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.contenedor-turnos-activos{
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.proximo-turno {
    background-color: rgba(59, 66, 148, 0.2);
    width: 25%;
    height: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 4%;
}

.contenedor-num-consultorio {
    width: 100%;
    text-align: center;
    color: #3B4294;
}

.contenedor-num-turno {
    width: 100%;
    text-align: center;
    color: #E61A2E;
}

.activos {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.consultorios {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.numero-turno {
    font-family: inherit;
    margin: 0;
}

.numero-consultorio {
    font-family: inherit;
    margin: 0;
}

.contenedor-consultorios {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px 20px 20px;
}

.contenedor-consultorio {
    background-color: rgba(59, 66, 148, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    height: 250px;
    margin: 20px 20px 0px 20px;
}

.numero-consultorio-grande {
    color: #E61A2E;
}

.input-consultorio {
    width: 90%;
}