@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(59, 66, 148, 0.1);
    font-family: 'Muli', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

h1 {
    margin: 10px 0 20px;
    text-align: center;
    color: #3B4294;
}

h2 {
    color: #3B4294;
}

h4 {
    color: #3B4294;
}

.contenedor-total {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-popup-nuevo {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    position: absolute;
    top: calc(50vh - 175px);
    left: calc(50vw - 175px);
}

.container-popup-asignar {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    position: absolute;
    top: calc(50vh - 175px);
    left: calc(50vw - 175px);
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: rgba(59, 66, 148, 0.8);
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.btn-large {
    display: block;
    width: 40%;
}

.setting-nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    color: #3B4294;
}

.setting-nombre .input-nombre {
    width: 70%;
}

.contenedor-turno-consultorio {
    color: #3B4294;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botones-asignar-crear {
    position: absolute;
    top: 10px;
    right: 10px;
}

.contenedor-turnos {
    width: 98vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
}

.proximos {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.contenedor-titulo {
    width: 100%;
    text-align: center;
}

.contenedor-proximos-turnos {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.contenedor-turnos-activos{
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 15px;
}

.proximo-turno {
    background-color: rgba(59, 66, 148, 0.2);
    width: 25%;
    height: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3% 4%;
}

.contenedor-num-consultorio {
    width: 100%;
    text-align: center;
    color: #3B4294;
}

.contenedor-num-turno {
    width: 100%;
    text-align: center;
    color: #E61A2E;
}

.activos {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.consultorios {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.numero-turno {
    font-family: inherit;
    margin: 0;
}

.numero-consultorio {
    font-family: inherit;
    margin: 0;
}

.contenedor-consultorios {
    background-color: rgba(59, 66, 148, 0.1);
    width: 100%;
    height: 85%;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px 20px 20px;
}

.contenedor-consultorio {
    background-color: rgba(59, 66, 148, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    height: 270px;
    margin: 20px 20px 0px 20px;
}

.numero-consultorio-grande {
    color: #E61A2E;
    margin-top: 10px;
}

.input-consultorio {
    width: 90%;
}

.contenedor-fecha {
    position: absolute;
    top: 10px;
    left: calc(50% - (width/2));
}

.contenedor-hora {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.popup-fijar-texto {
    background-color: #fff;
    color: #3B4294;
    width: 450px;
    height: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.input-texto-info {
    width: 90%;
    height: 60%;
}

.contenedor-botones-texto {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.btn-aceptar-texto {
    background-color: #3B4294;
    color: #fff;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-cancelar-texto {
    background-color: #E61A2E;
    color: #fff;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.toast-container {
    position: absolute;
    bottom: 20px;
    left: 40px;
    max-width: 400px;
    max-height: 90vh;
    min-width: 300px;
    overflow-y: scroll;
}

.toast {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.remitente {
    margin-bottom: 5px;
    color: #3B4294;
}

.botones-mensaje {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.replicar {
    background-color: #3B4294;
    font-size: 0.9rem;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.cerrar-mensaje {
    background-color: #E61A2E;
    font-size: 0.9rem;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.popup-enviar-mensaje {
    background-color: #fff;
    color: #3B4294;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.mensaje {
    width: 80%;
    height: 40%;
}

.enviar-mensaje {
    background-color: #3B4294;
    font-size: 0.9rem;
    font-family: inherit;
    margin: 20px 0px;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.cancelar-mensaje {
    background-color: #E61A2E;
    font-size: 0.9rem;
    font-family: inherit;
    margin: 20px 0px;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#printableArea {
    position: absolute;
}

.logo {
	width: 200px;
}

.titulo {
	font-size: 3rem;
}

.numero {
	font-size: 2.5rem;
}